version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - .:/var/www
      - /var/www/vendor
    networks:
      - al-ameen-network

networks:
  al-ameen-network:
    driver: bridge